* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
.imgcontainer {
  text-align:center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}
.imgcontainer{
  background: #307D99 url('../App_images/Background12.jpg');
    background-size: cover;
    color: rgb(229, 216, 193);
    text-align: center;
    padding-bottom: 4em;
}
.container {
  padding: 16px;
}
/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=name]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.checkbox-custom:checked ~.input-box {
    visibility: hidden;
    opacity: 0;
  }

  .top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
